<mat-form-field appearance="standard" class="buscador">
  <mat-label>Buscador</mat-label>
  <input matInput placeholder="Nombre/apellidos/dni/email" (keyup)="applyFilter($event)" #input>
</mat-form-field>

<mat-accordion>
  <mat-expansion-panel *ngFor="let alumno of alumnosListFilter">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ alumno._nombre }} {{ alumno._apellido1 }} {{ alumno._apellido2 }}
        <div class="titleIcons">
          <a routerLink="/edit/{{alumno._dni}}">
            <mat-icon aria-hidden="false" aria-label="Icon edit" >edit</mat-icon>
          </a>
          <mat-icon aria-hidden="false" aria-label="Icon delete" (click)="removeAlumno(alumno._dni)">delete</mat-icon>
        </div>

      </mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansionItems">
      <div class="panelItem">
        <h4>Nickname</h4>
        {{ alumno._nickname }}
      </div>
      <div class="panelItem">
        <h4>Dni</h4>
        {{ alumno._dni }}
      </div>
      <div class="panelItem">
        <h4>Email</h4>
        {{ alumno._email }}
      </div>
      <div class="panelItem">
        <h4>Teléfono móvil</h4>
        {{ alumno._telefonoMovil }}
      </div>
      <div class="panelItem">
        <h4>Otro teléfono</h4>
        {{ alumno._otroTelefono }}
      </div>
      <div class="panelItem">
        <h4>País</h4>
        {{ alumno._pais }}
      </div>
      <div class="panelItem">
        <h4>Provincia</h4>
        {{ alumno._provincia }}
      </div>
      <div class="panelItem">
        <h4>Código postal</h4>
        {{ alumno._codigoPostal }}
      </div>
      <div class="panelItem">
        <h4>Localidad</h4>
        {{ alumno._localidad }}
      </div>
    </div>

  </mat-expansion-panel>
</mat-accordion>
