<form class="formularioUser" [formGroup]="alumnoForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Primer apellido</mat-label>
    <input matInput formControlName="apellido1" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Segundo apellido</mat-label>
    <input matInput formControlName="apellido2" />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field appearance="fill">
    <mat-label>Nickname</mat-label>
    <input matInput formControlName="nickname" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>dni</mat-label>
    <input matInput formControlName="dni" />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field appearance="fill">
    <mat-label>Teléfono Móvil</mat-label>
    <input matInput formControlName="telefonoMovil" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Otro teléfono</mat-label>
    <input matInput formControlName="otroTelefono" />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field appearance="fill">
    <mat-label>País</mat-label>
    <mat-select formControlName="pais">
      <mat-option *ngFor="let pais of paises" [value]="pais">
        {{ pais }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field
    appearance="fill"
    *ngIf="alumnoForm.value.pais === 'España'; else writeProvicia"
  >
    <mat-label>Provincia</mat-label>
    <mat-select formControlName="provincia">
      <mat-option *ngFor="let provincia of provincias" [value]="provincia">
        {{ provincia }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ng-template #writeProvicia>
    <mat-form-field appearance="fill">
      <mat-label>Provicia</mat-label>
      <input matInput formControlName="provincia" />
    </mat-form-field>
  </ng-template>

  <mat-form-field appearance="fill">
    <mat-label>Codigo postal</mat-label>
    <input matInput formControlName="codigoPostal" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Localidad</mat-label>
    <input matInput formControlName="localidad" />
  </mat-form-field>

  <mat-divider></mat-divider>

  <div class="passContainer">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        formControlName="contrasena"
        [type]="hidePass ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePass = !hidePass"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePass"
      >
        <mat-icon>{{ hidePass ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <app-strength-bar
      [controller]="alumnoForm.get('contrasena')"
    ></app-strength-bar>
  </div>

  <br />
  <div class="addBtnContainer">
    <button mat-flat-button color="primary" type="submit" class="addAlumnoBtn">
      <!-- [disabled]="!profileForm.valid" -->
      Añadir
    </button>
  </div>
</form>
